body, html {
    margin: 0;
    padding: 0;
}

.nav {
    font-family: Lato, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

a {
    color: #bcbcbc;
    text-decoration: none;
}

.nav {
    margin: 55px auto 35px;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu ul li {
    font-family: Lato;
    font-weight: 700;
    font-size: 14px;
    color: #797979;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin-right: 27px;
}

.menu ul li:last-of-type {
    margin-right: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}

.btn-signin {
    height: 57px;
    text-align: center;
    color: #ffffff;
    background-color: #9555af;
    border: solid 1px transparent;
    border-radius: 5px;
}

.btn-contact {
    height: 57px;
    text-align: center;
    color: #ffffff;
    background-color: #094b58;
    border: solid 1px transparent;
    border-radius: 5px;
}

.btn {
    width: 100%;
    font-weight: bold;
}

.btn-signin:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.btn-contact:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

/* инвертируем цвета при наведении */
.btn-signin:hover {
    color: #9050aa;
    border-color: currentColor;
    background-color: white;
}

.btn-contact:hover {
    color: #9050aa;
    border-color: currentColor;
    background-color: white;
}

.header {
    margin-top: 35px;
    height: 1040px;
    /*background-color: #9050aa;*/
    background: url("../img/header-back.jpg") right top no-repeat;
    padding-top: 110px;

}

.main-content h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 46px;
    color: white;
    text-transform: uppercase;
    margin-top: 195px;

}

.main-content p {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 16px;
    color: white;

}

.logo-store {
    float: left;
    display: block;
}

.app-image {

}

.section-2 {
    margin-top: 180px;
}

.section-2 h1 {

    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #797979;
}

.section-2 p {

    font-size: 16px;
    font-family: "Lato";
    color: rgb(121, 121, 121);

}

.icon-1:after {
    content: url("../img/icon-line-1.png");
    margin-top: 70px;
    margin-left: 18px;
    position: absolute;



}

.icon-2:after {
    content: url("../img/icon-line-2.png");
    margin-top: 90px;
    margin-left: 18px;
    position: absolute;

}

.section-3 h1 {

    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #797979;
}
.section-3 p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #797979;
}
.section-3 {
    margin-top: 330px;

}

